HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

/src/main/resources/static/

/web/node_modules/
/web/.env.local
/web/.umirc.local.ts
/web/config/config.local.ts
/web/src/.umi
/web/src/.umi-production
/web/src/.umi-test
/web/dist/
/web/.swc
