HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

/src/main/resources/static/

/vertex-admin-webapp/node_modules/
/vertex-admin-webapp/.env.local
/vertex-admin-webapp/.umirc.local.ts
/vertex-admin-webapp/config/config.local.ts
/vertex-admin-webapp/src/.umi
/vertex-admin-webapp/src/.umi-production
/vertex-admin-webapp/src/.umi-test
/vertex-admin-webapp/dist/
/vertex-admin-webapp/.swc
