<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.onezol.vertex.security.api.mapper.MenuMapper">

    <!-- 根据用户id查询权限列表 -->
    <select id="selectPermsByUserId" resultType="java.lang.String">
        SELECT
            DISTINCT m.perms
        FROM
            sys_menu m
                INNER JOIN sys_role_menu rm ON m.id = rm.menu_id
                INNER JOIN sys_user_role ur ON rm.role_id = ur.role_id
        WHERE
            ur.user_id = #{userId}
            AND m.menu_type = 'F'
            AND m.status = true
            AND m.deleted = false
    </select>

    <!-- 根据用户id查询菜单列表 -->
    <select id="selectMenusByUserId" resultType="com.onezol.vertex.security.api.model.entity.MenuEntity">
        SELECT
            DISTINCT m.id,
            m.parent_id,
            m.menu_name,
            m.path,
            m.component,
            m.perms,
            m.icon,
            m.order_num
        FROM
            sys_menu m
            <if test="isAdmin = false">
                INNER JOIN sys_role_menu rm ON m.id = rm.menu_id AND rm.deleted = false
                INNER JOIN sys_user_role ur ON rm.role_id = ur.role_id AND ur.deleted = false
            </if>
        WHERE
            m.menu_type != 'F'
            AND m.status = true
            AND m.visible = true
            AND m.deleted = false
            <if test="isAdmin = false">
                AND ur.user_id = #{userId}
            </if>
        ORDER BY
            m.order_num
    </select>

    <!-- 根据角色id获取菜单列表 -->
    <select id="selectMenusByRoleId" resultType="com.onezol.vertex.security.api.model.entity.MenuEntity">
        SELECT
            DISTINCT m.id,
            m.parent_id,
            m.menu_name,
            m.menu_type
        FROM
            sys_menu m
                INNER JOIN sys_role_menu rm ON m.id = rm.menu_id AND rm.deleted = false
        WHERE
            rm.role_id = #{roleId}
            AND m.status = true
            AND m.visible = true
            AND m.deleted = false
    </select>

</mapper>